*.log
*.pot
*.pyc
*.pyo
__pycache__/
media/

*/migrations/

db.sqlite3

# Environment variables
.env

.cache
.cache_tags

env/
venv/
diplom_venv/
virtualenv/

.vscode/
.pydevproject
.project
.settings/
*.iml
*.ipr
*.iws
